body{
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(110deg, #4c3346, #243a5f);

}
a:hover{
    transition: all 0.2s ease-in-out;
    color: #4c3346;
}
.login{
    margin: 0 auto;
    max-width: 420px;
}
.login-header{
    padding-top: 40px;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}
.login-container{

}
.login-form{
    padding: 20px;
    text-align: center;

}
.btn{
    width: 100%;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    background-color: #339BEB;
    color: #fff;

}
.login-footer{
    color: #a0aab5;
    text-align: center;

}
.login-footer a{
    color: #a0aab5;
    transition: all 0.2s ease-in-out;
}
.login-footer a:hover{
    color: #fff;
}

