@media (max-width: 767px) {
  .offcanvas-stop-scrolling {
    height: 100%;
    overflow: hidden; }

  .navbar-default .navbar-offcanvas {
    background-color: #f8f8f8; }

  .navbar-inverse .navbar-offcanvas {
    background-color: #222; }

  .navbar-offcanvas {
    position: fixed;
    width: 100%;
    max-width: 220px;
    left: -220px;
    top: 0;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 999;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    transition: all 0.15s ease-in; }
    .navbar-offcanvas.in {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
    .navbar-offcanvas.navbar-offcanvas-fade {
      opacity: 0; }
      .navbar-offcanvas.navbar-offcanvas-fade.in {
        opacity: 1; }
    .navbar-offcanvas.offcanvas-transform.in {
      transform: translateX(220px); }
    .navbar-offcanvas.offcanvas-position.in {
      left: 0; }
    .navbar-offcanvas.navbar-offcanvas-right {
      left: auto;
      right: -220px; }
      .navbar-offcanvas.navbar-offcanvas-right.offcanvas-transform.in {
        transform: translateX(-220px); }
      .navbar-offcanvas.navbar-offcanvas-right.offcanvas-position.in {
        left: auto;
        right: 0; }
    .navbar-offcanvas .dropdown.active .caret {
      border-top: 0;
      border-bottom: 4px solid; }
    .navbar-offcanvas .dropdown-menu {
      position: relative;
      width: 100%;
      border: inherit;
      box-shadow: none;
      transition: height 0.15s ease-in; }
      .navbar-offcanvas .dropdown-menu.shown {
        display: block;
        margin-bottom: 10px; } }
.offcanvas-toggle .icon-bar {
  background: #000;
  transition: all .25s ease-in-out; }
.offcanvas-toggle.is-open .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px); }
.offcanvas-toggle.is-open .icon-bar:nth-child(2) {
  opacity: 0; }
.offcanvas-toggle.is-open .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px); }

.offcanvas-header {
  padding: 15px;
  background-color: #101010; }
  .offcanvas-header .sign {
    text-align: center; }
    .offcanvas-header .sign li a {
      font-size: 12px; }
      .offcanvas-header .sign li a:hover, .offcanvas-header .sign li a:focus {
        background-color: transparent; }
    .offcanvas-header .sign li img {
      width: 33px;
      height: 33px; }
  .offcanvas-header .avatar {
    color: #fff; }
    .offcanvas-header .avatar a {
      text-decoration: none; }
    .offcanvas-header .avatar img {
      width: 50px;
      height: 50px;
      margin-right: 5px; }
  .offcanvas-header .list-group {
    margin-bottom: 0px; }
    .offcanvas-header .list-group a:focus, .offcanvas-header .list-group a:hover {
      color: #ee7421;
      text-decoration: none;
      background-color: transparent; }
    .offcanvas-header .list-group #user-menu .list-group-item {
      border-radius: 0;
      color: #fff;
      font-size: 12px;
      background-color: transparent;
      border: none;
      border-bottom: solid 1px #222222; }
    .offcanvas-header .list-group #user-menu .list-group-item:last-child {
      border-bottom: none; }
    .offcanvas-header .list-group #user-menu a:focus, .offcanvas-header .list-group #user-menu a:hover {
      color: #fff;
      text-decoration: none;
      background-color: #ee7421; }

.offcanvas-body {
  margin-left: 20px;
  font-size: 12px; }
  .offcanvas-body li {
    border-bottom: solid 1px #101010; }
    .offcanvas-body li a:hover, .offcanvas-body li a:focus {
      color: #fff;
      background-color: #ee7421; }
    .offcanvas-body li i {
      font-size: 20px; }

/*# sourceMappingURL=offcanvas.css.map */
