/*VARIABLES*/
/*Colors*/
/*Effect*/
/**********/
/* IMPORTS */
.top-banner {
  background: black;
  max-height: 100%; }
  .top-banner .img-responsive {
    min-width: 100px;
    min-height: 40px; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px; } }
.navbar-logo {
  float: left; }
  .navbar-logo img {
    width: 200px;
    height: 70px; }

.navbar-inverse {
  padding: 0 40px 0 40px; }
  .navbar-inverse .navbar-nav {
    margin-top: 12px; }
    .navbar-inverse .navbar-nav li {
      padding-right: -10px; }
      .navbar-inverse .navbar-nav li i {
        font-size: 18px; }
      .navbar-inverse .navbar-nav li a {
        color: #fff; }
        .navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:focus {
          color: #f7941d;
          background-color: transparent; }
  .navbar-inverse .navbar-form {
    margin-top: 22px; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #f7941d;
  background-color: transparent; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  color: #fff;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
  border-radius: 4px;
  color: #fff;
  background-color: #4d4d4d;
  border-color: transparent;
  box-shadow: 0 6px 30px rgba(0, 22, 68, 0.6); }
  .dropdown-menu a {
    color: #ccc; }
    .dropdown-menu a:hover {
      background-color: #f7941d;
      color: #fff; }

/*dropdown-menu login-form*/
.login-form .dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  color: #fff;
  min-width: 300px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(29, 28, 28, 0.8);
  border-color: transparent;
  box-shadow: 0 6px 30px rgba(0, 22, 68, 0.6); }

.fa-user {
  font-size: 23px; }

/** Para mostrar el dropdown con hover**/
@media (min-width: 979px) {
  ul.nav li.login-form:hover > ul.dropdown-menu {
    display: block; } }
ul.nav li.login-form:hover > ul.dropdown-menu {
  display: block; }

/****/
/** Form login style**/
.form-login {
  padding: 30px;
  text-align: center; }
  .form-login .btn {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    min-width: 160px;
    text-align: center;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out; }
  .form-login .btn-default {
    color: #55acee;
    border: 1px solid #cccccc; }
    .form-login .btn-default:hover {
      color: #ffffff;
      background-color: #339BEB;
      border-color: #339BEB; }
  .form-login .form-control {
    height: 45px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }
  .form-login .form-control-feedback {
    color: #cccccc; }
  .form-login .passRecovery {
    color: #dddddd; }

/******/
/** CAMBIO DEL COLLAPSE DE NAVBAR */
/**********/
/******/
body {
  font-family: 'Open Sans', sans-serif; }

a {
  color: #fff;
  transition: all 0.2s ease-in-out; }

a:hover {
  color: #f7941d; }

/*# sourceMappingURL=style.css.map */
