.login-form{
  padding: 20px;
  text-align: center;
  .btn{
    width: 100%;
    transition: all 0.2s ease-in-out;

    &:hover{
      background-color: #339BEB;
      color: #fff;
    }
  }
}


.form-control {
  height: 45px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.form-control-feedback {
  color: #cccccc;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 15px;
}
textarea {
  resize: vertical;
}