.header-profile{
  width: 100%;
  background-color: #222222;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  float: left;

  .avatar-profile{
    float: left;
    margin-right: 15px;
    img{
      width: 100px;
      height:100px;
    }


  }

  .info-profile{
    float: left;
    color: #fff;
    strong{
      font-size: 27px;
    }
    i{
      font-size: 13px;
    }
  }
}