/*VARIABLES*/

  /*Colors*/
  $link: #fff;
  $link_hover: #f7941d;
  $btn_blue: #339BEB;

  /*Effect*/
 $link_effect: all 0.2s ease-in-out;

/**********/


body {
  font-family: 'Open Sans', sans-serif;
}
a{
  color: $link;
  transition: $link_effect;
}
a:hover{
  color: $link_hover;

}
.btn{
  transition: $link_effect;
}

.content{
  margin-top: 135px;
}
/* IMPORTS */
@import 'header';
@import 'useraccount';
@import 'userprofile';
@import 'footer';
/******/
/** FOOTER **/
/* Social Links
---------------------------------- */


